<!-- Panneau pour l'audio (upload + lecteur) -->
<div id="audio-panel" ng-controller="audioController">

  <!-- Icone pour masquer le conteneur de l'upload / lecteur audio -->
  <div id="toggle-audio">
    <a href="#" ng-click="toggleAudio();"><i class="uk-icon-toggle-down" ></i></a>
  </div>

  <!-- Uploader du fichier audio -->
  <div id="audio-submit" style="padding:10px;">

        <!-- Drop zone et selection du fichier -->
        <div id="upload-drop" class="uk-placeholder">
            Glisser le fichier audio ou<br/>
            <button class="uk-form-file uk-button uk-button-mini uk-button-success"><span class="action-button">Sélectionner le fichier</span><input id="upload-select" name="audio" type="file"></button>
        </div>

        <!-- Progress bar -->
        <div id="progressbar" class="uk-progress uk-hidden">
            <div class="uk-progress-bar" style="width: 0%;">...</div>
        </div>

  </div>

  <!-- Conteneur du fichier audio -->
  <div id="audio-player"></div>

</div>
