<!-- le controller c'est acceuil.js-->
<div id="choix-commission-modal" class="uk-modal">
  <div class="uk-modal-dialog  uk-width-1-1" id="choix-commission-dialog">
      <div class="uk-modal-header"><h2>Choix commission</h2></div>
      <p>{{pv}}</p>
      <form class="uk-form uk-form-horizontal">
    <div class="uk-form-row">
      <label class="uk-form-label" for="commission_nom">Commission</label>

      <div class="uk-form-controls">
        <div class="uk-form-select" data-uk-form-select>
          <select ng-model="pv.commission" ng-options="item.nom for item in other.commissions">
            <option value="">-- Sélectionner une commission --</option>
          </select>
        </div>
      </div>
    </div>
    {{other.commissions}}

      <button class="uk-button uk-button-primary uk-width-1-1 bouton" type="submit" ng-click="initPv()">Créer</button>
    </form>
      <div class="uk-modal-footer">

      </div>
  </div>


</div>

<!--div class="uk-modal" id="add-depute">
    <div class="uk-modal-dialog">
      <form class="uk-form uk-form-horizontal">

        <div class="uk-modal-header">Ajouter un député</div>

          <label class="uk-form-label" for="gnom">Nom</label>
          <div class="uk-form-controls">
              <input type="text" id="gnom" ng-model="myDeputeToAdd.nom">
          </div>

        <div class="uk-modal-footer">...</div>
      </form>
    </div-->
</div>
