<div id="workflow" ng-controller="workflowController">
{{pv}}




    <div id="workflow-general">
      <!-- /***********************************/-->
      <!-- /*******  GENERAL FORMULAIRE *******/-->
      <!-- /***********************************/-->
      <form class="uk-form uk-form-horizontal pv-form">

        <!-- /******* NOM COMMISSION **********/-->
        <div class="uk-form-row">
            <label class="uk-form-label" for="commission_nom">Commission</label>
            <div class="uk-form-controls">
              <p>{{pv.commission.nom}}</p>

            </div>
        </div>


        <!-- /******* NO PV **********/-->
        <div class="uk-form-row">
            <label class="uk-form-label" for="numero">Numero</label>
            <div class="uk-form-controls">
                <input type="number" id="numero" ng-model="pv.numero">
            </div>
        </div>

        <!-- /******* DATE PV **********/-->
        <div class="uk-form-row">
            <label class="uk-form-label" for="date">Date</label>
            <div class="uk-form-controls">
              <div class="uk-form-icon">
               <i class="uk-icon-calendar"></i>
                <input id ="date" type="text" data-uk-datepicker="{format:'DD-MM-YYYY'}"  ng-model="pv.date">
              </div>
            </div>
        </div>
        <!-- /******* HEURE DEBUT **********/-->
        <div class="uk-form-row">
            <label class="uk-form-label" for="heure_debut">Heure de début</label>
            <div class="uk-form-controls">
              <!--<div class="uk-form-icon">
               <i class="uk-icon-clock-o"></i>-->
              <input id="heure_debut" type="text" data-uk-timepicker placeholder="17:00" ng-model="pv.heure_debut">
            </div>
            <!--</div>-->
        </div>

        <!-- /******* HEURE FIN **********/-->
        <div class="uk-form-row">
          <label class="uk-form-label" for="heure_fin">Heure de fin</label>
          <div class="uk-form-controls">
            <!--<div class="uk-form-icon">-->
             <!--<i class="uk-icon-clock-o"></i>-->
            <input id="heure_fin" type="text" data-uk-timepicker placeholder="20:00" ng-model="pv.heure_fin">
          <!--</div>-->
          </div>
        </div>

        <!-- /******* LIEU **********/-->
        <div class="uk-form-row">
          <label class="uk-form-label" for="lieu">Lieu</label>
          <div class="uk-form-controls">
            <input id="lieu" type="text" placeholder="Salle des Fiefs" ng-model="pv.lieu">
          </div>
        </div>

        <!-- /******* PRESIDENT **********/-->
        <div class="uk-form-row">
          <label class="uk-form-label" for="president">Président</label>
          <div class="uk-form-controls">
            <input id="president-nom" type="text" ng-model="pv.president.nom">
            <input id="president-prenom"  type="text" ng-model="pv.president.prenom" placeholder="Prenom">
            <input id="president-titre"  type="text" ng-model="pv.president.titre" placeholder="Titre" size="5">
          </div>
        </div>




        <!-- PLACE POUR PRESENT/ABSENT -->



        <!-- /******* INVITE (assistent) **********/-->
        <div class="uk-form-row">
          <label class="uk-form-label" for="invites">Invités</label>
        <!--  <div >-->
            <div class="uk-form-controls" style="margin-bottom:10px;" ng-repeat="invite in pv.invites">
              <select ng-model="invite.titre" placeholder="Titre">
                <option value="m">Monsieur</option>
                <option value="mme">Madame</option>
              </select>
              <input type="text" ng-model="invite.nom" placeholder="Nom">
              <input type="text" ng-model="invite.prenom" placeholder="Prenom">
              <!--input type="text" ng-model="invite.titre" placeholder="Titre" size="5"-->
              <!--div class="uk-form-select" data-uk-form-select-->

              <!--/div-->
              <a href="#" ng-click="supprimerInvite($index)" class="uk-button uk-button-mini uk-button-danger"><span class="supprimer-invite">supprimer</span></a>
              <!--{{invite.id}}
              {{$index}}-->

            <!--  <input type="text" ng-model="invite.fonction" placeholder="Fonction" size="50">-->

            </div>
          <!--</div>-->

          <div class="uk-form-controls">
            <a href="#" ng-click="ajouterInvite()" class="uk-button uk-button-mini uk-button-success"><span class="ajouter-invite">Ajouter un invité</span></a>
          </div>
        </div>

        <div class="uk-form-row">
          <label class="uk-form-label" for="odj">Ordre du jour</label>

              <div class="uk-form-controls" style="margin-bottom:10px;">

                    <table class="uk-table uk-table-striped">
                      <tbody>

                          <tr ng-repeat="rubrique in pv.rubriques">
                            {{point}}
                            <td class="odj-numbered">{{$index+1}}</td>
                            <td><input type="text" class="uk-width-1-1" ng-model="rubrique.titre"/></td>
                            <td><a href="#" ng-click="supprimerRubrique($index)" class="uk-button uk-button-mini uk-button-danger"><span class="supprimer-odj">supprimer</span></a></td>

                          </tr>

                      </tbody>

                  </table>

              </div>
          <div class="uk-form-controls">
            <a href="#" ng-click="ajouterPointODJ()" class="uk-button uk-button-mini uk-button-success"><span class="ajouter-odj">Ajouter un point d'ODJ</span></a>
          </div>

        </div>






          <button type="submit" class="uk-button uk-button-primary uk-width-1-1 sauvegarder-pv" ng-click="sauvegarderSeance()">Sauvegarder</button>





              <!--<label>Commission</label>
              <input type="text" placeholder="" ng-model="general.nomCommission">
              <input type="hidden" placeholder="" ng-model="general.idCommission">
              <br/>
              <label>Numero</label>
              <input type="number" placeholder="" >-->





              <!--<input type="password" placeholder="">
              <select>
                  <option>...</option>
                  <option>...</option>
              </select>
              <button class="uk-button">...</button>
              <label><input type="checkbox"> ...</label>-->

      </form>


    </div>

    <!-- ************************-->
    <!-- ** RUBRIQUES ***********-->
    <!-- ************************-->


<!-- id="editor{{$index}}"-->

    <div class="accordion rubriques-accordeon">
        <div class="accordion-section" ng-repeat="rubrique in pv.rubriques">
            <a class="accordion-section-title" href="#accordion-{{$index}}">{{$index+1}}. {{rubrique.titre}}</a>

            <div id="accordion-{{$index}}" class="accordion-section-content">



                <!--<p>{{rubrique.contenu}}</p>-->
                <!-- /***********************************/-->
                <!-- /*******  TEXT EDIT  *******/-->
                <!-- /***********************************/-->

                <!--textarea froala ng-model="rubrique.contenu"></textarea-->
                <!--textarea ui-tinymce="tinymceOptions" ng-model="rubrique.contenu"></textarea-->
                <form method="post">
                  <textarea ui-tinymce ng-model="rubrique.contenu"></textarea>
                </form>




                <!-- /***********************************/-->
                <!-- /*******  RAPPORTEUR  *******/-->
                <!-- /***********************************/-->
                <form class="uk-form uk-form-horizontal rubrique-form" style="padding-top:20px;">
                <div class="uk-form-row">
                  <label class="uk-form-label" for="rapporteurs">Heure début</label>
                  <div class="uk-form-controls" style="margin-bottom:10px;">
                    <input class="heure_debut_rubrique" type="text" data-uk-timepicker placeholder="17:00" ng-model="rubrique.heure_debut">
                  </div>
                  <label class="uk-form-label" for="rapporteurs">Heure fin</label>
                  <div class="uk-form-controls" style="margin-bottom:10px;">
                    <input class="heure_fin_rubrique" type="text" data-uk-timepicker placeholder="18:00" ng-model="rubrique.heure_fin">
                  </div>
                </div>
                <div class="uk-form-row">

                  <label class="uk-form-label" for="rapporteurs">Rapporteurs</label>

                    <div class="uk-form-controls" style="margin-bottom:10px;" ng-repeat="rapporteur in rubrique.rapporteurs">

                      <label>nom</label>
                      <select placeholder="Député" ng-model="rubrique.rapporteurs[$index].depute_id">
                        <option value="{{depute.id}}" ng-repeat="depute in pv.deputes">{{depute.nom}}</option>
                      </select>

                      <label>type</label>
                      <select placeholder="Type" ng-model="rubrique.rapporteurs[$index].type">
                        <option value="majorite">majorité</option>
                        <option value="majorite">minorité</option>
                        <option value="majorite">autre</option>
                      </select>

                      <a href="#" ng-click="supprimerRapporteur($index, $parent.$index)" class="uk-button uk-button-mini uk-button-danger"><span class="supprimer-rapporteur">supprimer</span></a>

                    </div>

                  <div class="uk-form-controls">
                    <a href="#" ng-click="ajouterRapporteur($index)" class="uk-button uk-button-mini uk-button-success"><span class="ajouter-rapporteur">Ajouter un rapporteur</span></a>
                  </div>
                </div>





                <button type="submit" class="uk-button uk-button-primary sauvegarder-pv" ng-click="sauvegarderSeance()">Sauvegarder</button>
              </form>
            </div>
        </div>
    </div>




</div>
