<!-- Workflow (flux d'édition du PV) -->
<div id="workflow" ng-controller="workflowController">

    <div id="workflow-general">
      <!-- /**********************************************************/-->
      <!-- /*******  01) GENERAL FORMULAIRE (INFORMATIONS GENERALES)*******/-->
      <!-- /**********************************************************/-->
      <form class="uk-form uk-form-horizontal pv-form">

        <!-- /******* NOM COMMISSION **********/-->
        <div class="uk-form-row">
            <label class="uk-form-label" for="commission_nom">Commission</label>
            <div class="uk-form-controls">
              <p>{{pv.commission.nom}}</p>

            </div>
        </div>

        <!-- /******* NO PV **********/-->
        <div class="uk-form-row">
            <label class="uk-form-label" for="numero">Numero</label>
            <div class="uk-form-controls">
                <input type="number" id="numero" ng-model="pv.numero">
            </div>
        </div>

        <!-- /******* DATE PV **********/-->
        <div class="uk-form-row">
            <label class="uk-form-label" for="date">Date</label>
            <div class="uk-form-controls">
              <div class="uk-form-icon">
               <i class="uk-icon-calendar"></i>
                <input id ="date" type="text" data-uk-datepicker="{format:'DD-MM-YYYY'}"  ng-model="pv.date">
              </div>
            </div>
        </div>
        <!-- /******* HEURE DEBUT **********/-->
        <div class="uk-form-row">
            <label class="uk-form-label" for="heure_debut">Heure de début</label>
            <div class="uk-form-controls">
              <input id="heure_debut" type="text" data-uk-timepicker placeholder="17:00" ng-model="pv.heure_debut">
            </div>
        </div>

        <!-- /******* HEURE FIN **********/-->
        <div class="uk-form-row">
          <label class="uk-form-label" for="heure_fin">Heure de fin</label>
          <div class="uk-form-controls">
            <input id="heure_fin" type="text" data-uk-timepicker placeholder="20:00" ng-model="pv.heure_fin">
          </div>
        </div>

        <!-- /******* LIEU **********/-->
        <div class="uk-form-row">
          <label class="uk-form-label" for="lieu">Lieu</label>
          <div class="uk-form-controls">
            <input id="lieu" type="text" placeholder="Salle des Fiefs" ng-model="pv.lieu">
          </div>
        </div>

        <!-- /******* PRESIDENT **********/-->
        <div class="uk-form-row">
          <label class="uk-form-label" for="president">Président</label>
          <div class="uk-form-controls">
            <input id="president-nom" type="text" ng-model="pv.president.nom">
            <input id="president-prenom"  type="text" ng-model="pv.president.prenom" placeholder="Prenom">
            <select id="president-titre" ng-model="pv.president.titre" placeholder="Titre">
              <option value="m">Monsieur</option>
              <option value="mme">Madame</option>
            </select>
          </div>
        </div>

        <!-- /******* INVITE (assistent) **********/-->
        <div class="uk-form-row">
          <label class="uk-form-label" for="invites">Invités</label>
            <div class="uk-form-controls" style="margin-bottom:10px;" ng-repeat="invite in pv.invites">
              <select ng-model="invite.titre" placeholder="Titre">
                <option value="m">Monsieur</option>
                <option value="mme">Madame</option>
              </select>
              <input type="text" ng-model="invite.nom" placeholder="Nom">
              <input type="text" ng-model="invite.prenom" placeholder="Prenom">

              <a href="#" ng-click="supprimerInvite($index)" class="uk-button uk-button-mini uk-button-danger"><span class="supprimer-invite">supprimer</span></a>

            </div>

          <div class="uk-form-controls">
            <a href="#" ng-click="ajouterInvite()" class="uk-button uk-button-mini uk-button-success"><span class="ajouter-invite">Ajouter un invité</span></a>
          </div>

        </div>

        <!-- /**********************************************************/-->
        <!-- /******* 02) ODJ (ordre du jour)*******************************/-->
        <!-- /**********************************************************/-->
        <div class="uk-form-row">
          <label class="uk-form-label" for="odj">Ordre du jour</label>

              <div class="uk-form-controls" style="margin-bottom:10px;">

                    <table class="uk-table uk-table-striped">
                      <tbody>

                          <tr ng-repeat="rubrique in pv.rubriques">
                            {{point}}
                            <td class="odj-numbered">{{$index+1}}</td>
                            <td><input type="text" class="uk-width-1-1" ng-model="rubrique.titre"/></td>
                            <td><a href="#" ng-click="supprimerRubrique($index)" class="uk-button uk-button-mini uk-button-danger"><span class="supprimer-odj">supprimer</span></a></td>
                          </tr>

                      </tbody>

                  </table>

              </div>
          <div class="uk-form-controls">
            <a href="#" ng-click="ajouterPointODJ()" class="uk-button uk-button-mini uk-button-success"><span class="ajouter-odj">Ajouter un point d'ODJ</span></a>
          </div>

        </div>

          <button type="submit" class="uk-button uk-button-primary uk-width-1-1 sauvegarder-pv" ng-click="sauvegarderSeance()">Sauvegarder</button>

      </form>

    </div>


    <!-- /**********************************************************/-->
    <!-- /******* 03 ) Points d'ODJ *******************************/-->
    <!-- /**********************************************************/-->
    <div class="accordion rubriques-accordeon">
        <div class="accordion-section" ng-repeat="rubrique in pv.rubriques">
            <a class="accordion-section-title" href="#accordion-{{$index}}">{{$index+1}}. {{rubrique.titre}}</a>

            <div id="accordion-{{$index}}" class="accordion-section-content">


                <!-- /***********************************/-->
                <!-- /*******  TinyMCE html editor wysywig  *******/-->
                <!-- /***********************************/-->
                <form method="post">
                  <textarea ui-tinymce="tinymceOptions" ng-model="rubrique.contenu"></textarea>
                </form>


                <!-- /***********************************/-->
                <!-- /*******  HEURES DEBUT / FIN  *******/-->
                <!-- /***********************************/-->
                <form class="uk-form uk-form-horizontal rubrique-form" style="padding-top:20px;">
                <div class="uk-form-row">
                  <label class="uk-form-label" for="rapporteurs">Heure début</label>
                  <div class="uk-form-controls" style="margin-bottom:10px;">
                    <input class="heure_debut_rubrique" type="text" data-uk-timepicker placeholder="17:00" ng-model="rubrique.heure_debut">
                  </div>
                  <label class="uk-form-label" for="rapporteurs">Heure fin</label>
                  <div class="uk-form-controls" style="margin-bottom:10px;">
                    <input class="heure_fin_rubrique" type="text" data-uk-timepicker placeholder="18:00" ng-model="rubrique.heure_fin">
                  </div>
                </div>

                <!-- /***********************************/-->
                <!-- /*******  RAPPORTEUR  *******/-->
                <!-- /***********************************/-->
                <div class="uk-form-row">

                  <label class="uk-form-label" for="rapporteurs">Rapporteurs</label>
                    <div class="uk-form-controls" style="margin-bottom:10px;" ng-repeat="rapporteur in rubrique.rapporteurs">
                      <label>nom</label>
                      <select placeholder="Député" ng-model="rubrique.rapporteurs[$index].depute_id">
                        <option value="{{depute.id}}" ng-repeat="depute in pv.deputes">{{depute.nom}}</option>
                      </select>

                      <label>type</label>
                      <select placeholder="Type" ng-model="rubrique.rapporteurs[$index].type">
                        <option value="majorite">majorité</option>
                        <option value="majorite">minorité</option>
                        <option value="majorite">autre</option>
                      </select>

                      <a href="#" ng-click="supprimerRapporteur($index, $parent.$index)" class="uk-button uk-button-mini uk-button-danger"><span class="supprimer-rapporteur">supprimer</span></a>

                    </div>

                  <div class="uk-form-controls">
                    <a href="#" ng-click="ajouterRapporteur($index)" class="uk-button uk-button-mini uk-button-success"><span class="ajouter-rapporteur">Ajouter un rapporteur</span></a>
                  </div>
                </div>

                <button type="submit" class="uk-button uk-button-primary sauvegarder-pv uk-width-1-1" ng-click="sauvegarderSeance()">Sauvegarder</button>

              </form>
            </div>
        </div>
    </div>

    <!-- /*******  ICON AUDIO PANEL TOGGLE  *******/-->
    <a href="#" id="toggle-audio-icon" ng-click="toggleAudio();"><i class="uk-icon-toggle-up" ></i></a>

    <!-- /*******  MODAL INSERTION NOM DEPUTES  *******/-->
    <div id="insert-depute" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
              <thead>
                <tr class="header-row">
                    <th>N°</th> <!-- numero assigné -->
                    <th>Député</th> <!-- nom du député -->
                    <th>Action</th> <!-- action (insérer dans le texte) -->
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="depute in pv.deputes track by $index">
                  <td>{{$index+1}}</td>
                  <td>{{depute.nom}}</td>
                  <td>
                    <a href="#" ng-click="insertDepute(depute)" class="uk-button uk-button-mini uk-button-success"><span class="action-button">Insérer</span></a>
                  </td>
                </tr>
              </tbody>

        </div>
    </div>



</div>
