//***************************************************//
// Variables
//***************************************************//

$menu-height: 40px;
$color-primary: #00a8e6;
$color-gris:#eee;


div.liste-invites:nth-child(2n+1){

  //background-color: $color-gris;
}

span.placeholder-content{
  font-style: italic;
  color: darken($color-gris,20%);
}

body{

}
//***************************************************//
//Workflow
//***************************************************//
/*div.rubriques-accordeon{
  padding-left: 20px;
  background-color: $color-primary;
}*/

#calendar{
  h2{
    font-size: 1.1em;
    color: darken(#eee,40%);
  }
}

//***************************************************//
// Style accordion jquery
//***************************************************//

a:hover, a:focus{
  color: white;
  text-decoration: none;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;

    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}



/*----- Accordion -----*/
/*.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.accordion {
    margin-left:15px;
    overflow:hidden;

    background:#f7f7f7;
    a{
      color:$color-primary;
    }
    a:focus, a:hover,a:active {
      color:white;
    text-decoration: none;
    }
}

.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid white;
    background:lighten( $color-primary, 50% );
    transition:all linear 0.15s;

    font-size:1.200em;

    color:white;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:$color-primary;

    text-decoration:none;
    color:white;
}



.accordion-section-content {
    padding:15px;
    display:none;
    background-color: $color-gris;
}*/



//***************************************************//
// Style personnalisé
//***************************************************//

body{
  padding-top: 40px;
}
div#liste{
  //margin-top: 40px;
  //display: none;
  #mes-pv{
    //background-color: blue;

  }

  #dernier-pv{
    //background-color: red;
  }

}


div#workflow{
display:none;
}

div#word-document{
display: none;
}

div#draft{
  display:none;
}



.pv-form{
  padding-left:40px;
  label{
    font-weight: bold;
  }
}


span.supprimer-invite,span.ajouter-invite, span.ajouter-odj{
  line-height: 25px;

}
span.supprimer-invite:before{
  @extend %fontawesome;

    /* down arrow icon */
    content: "\f00d";
    padding-right:5px;
}

.sauvegarder-pv{
  margin-top:20px;
}

span.ajouter-invite:before,span.ajouter-odj:before{
  @extend %fontawesome;

    /* down arrow icon */
    content: "\f067";
    padding-right:5px;
}

// ODJ
td.odj-numbered{
  background-color: $color-primary;
  color: white;
  font-weight: bold;
  width: 25px;
  text-align: center;
  vertical-align: middle;
}
span.odj-numbered{
  background-color: $color-primary;

  color: white;
  font-weight: bold;
  width: 25px;
  text-align: center;
  vertical-align: middle;
}



//***************************************************//
// Audio panel
//***************************************************//
div#audio-panel{
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: $color-primary;
  border-top: 1px white solid;
  float:left;
}
div#toggle-audio{
  position: fixed;
  bottom:110px;
  right:10px;
  //text-align: right;
  i{
    color:$color-primary;
    //padding: 5px 5px 0px 5px;
    font-size: 1.5em;
  }
}

#toggle-audio-icon{
  position: fixed;
  bottom: 10px;
  //text-align: right;
  right:10px;
  color:$color-primary;
  font-size: 1.5em;
}

#message-audio-transfert{
  position: fixed;
  bottom:0;
  text-align: center;
  width: 100%;
  height:100px;
  color:white;
  //background-color: blue;
  vertical-align: middle;
  line-height: 100px;
  z-index: 5000;
}

#submit-audio{
  float:right;
  //margin-left:0px;
}
//***************************************************//
// Tableaux accueil + gestion presence
//***************************************************//

tr.header-row{
  th{
    font-weight: bold;
  }
  th.hour-header{
    background-color:$color-primary;
    color:white;
    text-align: center;
  }
}
.normal-row{
  td{
    text-align: left;
  }
}

td.hour-cell{
  //background-color:;
  background-color: rgba($color-primary, 0.2);
  text-align: center;
}
//***************************************************//
// Gestion présence module
//***************************************************//
form#presence-form{
  table{
    //float:left;
  }
  th{
    font-weight: bold;
  }
}
// ATtention utilise a deux endoit (presence + accuel)


#depute-tools{
  //float:right;
}
#gestion-presence-modal{
  text-align: center;
}
#gestion-presence-dialog{
  display:inline-block;
  width:auto;
  h2{
    text-align: left;
  }
}


//***************************************************//
// Menu
//***************************************************//

div#menu{
  position: fixed;
  top:0px;
  z-index: 1;
  //margin-bottom: 40px;
  width:100%;
  height:$menu-height;
  display: block;
  visibility: visible;
  border-bottom:1px solid white;
  a{
    color:$color-primary;
    line-height: $menu-height;
  }
  a.back{
    display: none;
    float:left;
  }
  span.retourAccueil,span.presenceCheck{
    margin-left: 10px;
    color:$color-primary;
    //line-height: 40px;

  }

  span.retourAccueil:before{
  @extend %fontawesome;
    color:$color-primary;
    /* down arrow icon */
    content: "\f104";
    //line-height: 40px;
    font-size: 1.3em;

    /* some space*/
    padding-right:5px;
  }
  span.presenceCheck:before{
  @extend %fontawesome;
    color: $color-primary;
    /* down arrow icon */
    content: "\f0c0";
    //line-height: 40px;
    font-size: 1.3em;

    /* some space*/
    padding-right:5px;
  }
}

span#status-network{
  color: white;
//  position: absolute;
  right: 20px;
  float:right;
  line-height: $menu-height;
  margin-left:20px;
  margin-right:20px;

  #status-online:before{
    color: green;
    @extend %circle-status;
  }
  #status-offline:before{
    color: red;
    @extend %circle-status;

  }
}

a#presence-check{
  display: none;
  color: white;
  //position: absolute;
  //text-align: right;
  float:right;
  right: 130px;
  line-height: $menu-height;
  font-size: 1.3em;
  &:hover{
    text-decoration: none;
  }
}

a#get-draft-infos{
  display: none;
  color: white;
  //position: absolute;
  //text-align: right;
  float:right;
  right: 200px;
  line-height: $menu-height;
  font-size: 1.3em;
  &:hover{
    text-decoration: none;
  }
}

.clock {
  &:before{
    @extend %fontawesome;

      /* down arrow icon */
      content: "\f017";

      /* some space*/
      padding-right:5px;
  }
  //:500px;

  height: 40px;
  width: 200px;
  line-height: 40px;
  //margin: 150px auto 0;
  padding: 5px;
  //background: white;
  color: white;
  text-align: center;
  border-radius: 2px;
  margin:0px 10px;
  //box-shadow: 0 0 1px $color-primary inset;

}
//***************************************************//
// Page Accueil
//***************************************************//

ul.pv-list-item{
  padding: 0px;

}

ul.pv-list-item li {
  background-color: #eee;
  height: 80px;
  width: 75%;
  margin-bottom: 15px;
  display: inline-block;
  float:left;
  margin-right:5px;
  padding:5px;
}

div.tools-pv{
  float:left;
  width:20%;
  //padding-left:2px;
  a{
    margin-bottom:3px;
    width: 80px;
  }
}


span.edit-pv,span.convert-pv,span.supprimer-pv, span.soumettre-pv{
  line-height: 25px;

}

span.soumettre-pv:before{
  @extend %fontawesome;

  /* down arrow icon */
  content: "\f176";

  /* some space*/
  padding-right:5px;

}

span.supprimer-pv:before{
  @extend %fontawesome;

  /* down arrow icon */
  content: "\f00d";

  /* some space*/
  padding-right:5px;

}

span.edit-pv:before{
  @extend %fontawesome;

  /* down arrow icon */
  content: "\f044";

  /* some space*/
  padding-right:5px;
}

span.convert-pv:before{
  @extend %fontawesome;

  /* down arrow icon */
  content: "\f1c2";

  /* some space*/
  padding-right:5px;

}

button.nouveau-pv:before{
  @extend %fontawesome;
  content: "\f067";
  padding-right:5px;
  font-weight: normal;
}

 td.pv-action{

   width: auto;
   //border-left:1px $color-gris solid;
   text-align: center;
 }
 td.pv-action-first{

   border-left:1px $color-gris solid;
 }

//***************************************************//
// UIkit modifications
//***************************************************//

// icon on accordion UIkit
.uk-accordion h4{
  font-weight: bold;
}

.uk-accordion-title:before {
  @extend %fontawesome;

    /* down arrow icon */
    content: "\f107";

    /* some space*/
    padding-right:5px;

 }
.uk-accordion-title.uk-active:before {
    /* up arrow icon */
    content: "\f106";

 }

.uk-panel{
  margin: 10px;
}



//***************************************************//
// Classes abstraites (mixin, placeholder)
//***************************************************//


%fontawesome{
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont-ie.eot") format("embedded-opentype"),
       url("../fonts/fontawesome-webfont.woff2") format('woff2'),
       url("../fonts/fontawesome-webfont.woff") format("woff"),
       url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

%circle-status{
  @extend %fontawesome;
    // circle character
    content: "\f111";
    line-height: $menu-height;
    padding-right:5px;

}
