body{
  //padding: 15px;
  h1{
    padding: 20px;
    padding-bottom: 0px;
  }
}

div#liste{
  #mes-pv{
    //background-color: blue;

  }

  #dernier-pv{
    //background-color: red;
  }

}


div#workflow{
  visibility: hidden;
}

.uk-panel{
  margin: 20px;
}

/*
.uk-grid, .uk-grid-small{
  margin-left: 0px;
}
*/
