body {
  padding-top: 50px; }

div#liste {
  padding-bottom: 150px; }

div#workflow {
  display: none;
  overflow-y: auto;
  padding-bottom: 150px; }
  div#workflow div#workflow-general {
    padding: 30px 0px 30px 0px; }

div#word-document {
  display: none; }

#calendar h2 {
  font-size: 1.1em;
  color: #888888; }

span.action-button {
  line-height: 25px; }

span.soumettre-pv:before {
  content: "\f176";
  padding-right: 5px; }

span.trash-pv:before {
  content: "\f1f8";
  padding-right: 5px; }

span.supprimer-pv:before {
  content: "\f00d";
  padding-right: 5px; }

span.edit-pv:before {
  content: "\f044";
  padding-right: 5px; }

span.convert-pv:before {
  content: "\f1c2";
  padding-right: 5px; }

span.untrash-pv:before {
  content: "\f112";
  padding-right: 5px; }

button.nouveau-pv:before {
  content: "\f067";
  padding-right: 5px;
  font-weight: normal; }

span.supprimer-invite, span.ajouter-invite, span.ajouter-odj, span.ajouter-rapporteur, span.supprimer-rapporteur, span.supprimer-odj {
  line-height: 25px; }

span.supprimer-invite:before, span.supprimer-rapporteur:before, span.supprimer-odj:before {
  content: "\f00d";
  padding-right: 5px; }

.sauvegarder-pv {
  margin-top: 20px; }

span.ajouter-invite:before, span.ajouter-odj:before, span.ajouter-rapporteur:before {
  content: "\f067";
  padding-right: 5px; }

div#menu {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 50px;
  display: block;
  visibility: visible;
  border-bottom: 1px solid white; }
  div#menu a {
    color: #00a8e6;
    line-height: 50px; }
  div#menu a.back {
    display: none;
    float: left; }
  div#menu span.retourAccueil, div#menu span.presenceCheck, div#menu span.recupererPv {
    margin-left: 10px;
    color: #00a8e6; }
  div#menu span.recupererPv:before {
    color: #00a8e6;
    content: "\f01a";
    font-size: 1.3em;
    padding-right: 5px; }
  div#menu span.retourAccueil:before {
    color: #00a8e6;
    content: "\f104";
    font-size: 1.3em;
    padding-right: 5px; }
  div#menu span.presenceCheck:before {
    color: #00a8e6;
    content: "\f0c0";
    font-size: 1.3em;
    padding-right: 5px; }

span#status-network {
  color: white;
  right: 20px;
  float: right;
  line-height: 50px;
  margin-left: 20px;
  margin-right: 20px; }
  span#status-network #status-online:before {
    color: green; }
  span#status-network #status-offline:before {
    color: red; }

a#recuperer-pv {
  color: white;
  float: right;
  right: 130px;
  line-height: 50px;
  font-size: 1.3em; }
  a#recuperer-pv:hover {
    text-decoration: none; }

a#presence-check {
  display: none;
  color: white;
  float: right;
  right: 130px;
  line-height: 50px;
  font-size: 1.3em; }
  a#presence-check:hover {
    text-decoration: none; }

.clock {
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 2px;
  margin: 0px 10px; }
  .clock:before {
    content: "\f017";
    padding-right: 5px; }

ul.pv-list-item {
  padding: 0px; }

ul.pv-list-item li {
  background-color: #eee;
  height: 80px;
  width: 75%;
  margin-bottom: 15px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  padding: 5px; }

div.tools-pv {
  float: left;
  width: 20%; }
  div.tools-pv a {
    margin-bottom: 3px;
    width: 80px; }

span.no-pv {
  text-align: center;
  width: 100%;
  display: block;
  color: #bbbbbb;
  font-style: italic;
  padding: 15px; }

span.placeholder-content {
  font-style: italic;
  color: #bbbbbb; }

.corbeille-toggle {
  display: inline;
  position: absolute;
  right: 15px;
  top: 15px; }

.accordion a:hover, .accordion a:focus {
  color: white;
  text-decoration: none; }

.accordion, .accordion * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.accordion {
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background: #f7f7f7;
  width: 90%;
  margin: auto;
  margin-bottom: 60px; }

.accordion-section-title {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid #1a1a1a;
  background: #333;
  transition: all linear 0.15s;
  font-size: 1.200em;
  text-shadow: 0px 1px 0px #1a1a1a;
  color: #fff; }

.accordion-section-title.active, .accordion-section-title:hover {
  background: #4c4c4c;
  text-decoration: none; }

.accordion-section:last-child .accordion-section-title {
  border-bottom: none; }

.accordion-section-content {
  padding: 15px;
  display: none; }

.pv-form {
  padding-left: 40px; }
  .pv-form label {
    font-weight: bold; }

td.odj-numbered {
  background-color: #00a8e6;
  color: white;
  font-weight: bold;
  width: 25px;
  text-align: center;
  vertical-align: middle; }

span.odj-numbered {
  background-color: #00a8e6;
  color: white;
  font-weight: bold;
  width: 25px;
  text-align: center;
  vertical-align: middle; }

div#audio-panel {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #eee;
  border-top: 1px white solid;
  float: left;
  z-index: 3000;
  text-align: center; }

div#toggle-audio {
  position: fixed;
  bottom: 130px;
  right: 10px; }
  div#toggle-audio i {
    color: #8cc14c;
    font-size: 1.5em; }

.uk-icon-toggle-down {
  color: #8cc14c; }

#toggle-audio-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #8cc14c;
  font-size: 1.5em;
  display: none; }

#message-audio-transfert {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100px;
  color: white;
  vertical-align: middle;
  line-height: 100px;
  z-index: 5000; }

#submit-audio {
  float: right; }

#audio-player {
  position: absolute;
  bottom: 10px;
  padding: 20px; }

tr.header-row th {
  font-weight: bold; }
tr.header-row th.hour-header {
  background-color: #00a8e6;
  color: white;
  text-align: center; }

.normal-row td {
  text-align: left; }

td.hour-cell {
  background-color: rgba(0, 168, 230, 0.2);
  text-align: center; }

form#presence-form th {
  font-weight: bold; }

#gestion-presence-modal {
  text-align: center; }

#gestion-presence-dialog {
  display: inline-block;
  width: auto; }
  #gestion-presence-dialog h2 {
    text-align: left; }

.uk-panel {
  margin: 10px; }

span.soumettre-pv:before, span.trash-pv:before, span.supprimer-pv:before, span.edit-pv:before, span.convert-pv:before, span.untrash-pv:before, button.nouveau-pv:before, span.supprimer-invite:before, span.supprimer-rapporteur:before, span.supprimer-odj:before, span.ajouter-invite:before, span.ajouter-odj:before, span.ajouter-rapporteur:before, div#menu span.recupererPv:before, div#menu span.retourAccueil:before, div#menu span.presenceCheck:before, .clock:before, span#status-network #status-online:before, span#status-network #status-offline:before {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont-ie.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

span#status-network #status-online:before, span#status-network #status-offline:before {
  content: "\f111";
  line-height: 50px;
  padding-right: 5px; }

/*# sourceMappingURL=style.css.map */
